<div class="masthead">
  <div fxLayout="row" fxLayoutAlign="center center" class="full-height">
    <mat-card fxFlex="50" fxFlex.md="60" fxFlex.sm="95" fxFlex.xs="100" *ngIf="model?.forgotPasswordStep == forgotPasswordStep.VerifyUser">
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>
        A message with a verification code will be sent to your phone.
        Enter your username and click the "Send Code" button to continue.
      </mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="sendCode()">
          <div fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="form.controls['username'].hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="column" *ngIf="errorMessages" class="error">
          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutGap="10px">
          <span fxFlex></span>
          <button mat-raised-button color="primary" (click)="sendCode()">
            Send Code
          </button>
          <button mat-raised-button color="accent" routerLink="/authentication/login">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="50" fxFlex.md="60" fxFlex.sm="95" fxFlex.xs="100" *ngIf="model?.forgotPasswordStep === forgotPasswordStep.VerifySecurityCode">
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Enter the verification code</mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="verifyCode()">
          <div fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="Code" formControlName="code" required>
              <mat-error *ngIf="form.controls['code'].hasError('required')">
                Code is required
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="column" *ngIf="errorMessages" class="error">
          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutGap="10px">
          <span fxFlex></span>
          <button mat-raised-button color="primary" type="button" (click)="verifyCode()">
            Verify
          </button>
          <button mat-raised-button color="accent" routerLink="/authentication/login">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="50" fxFlex.md="60" fxFlex.sm="95" fxFlex.xs="100" *ngIf="model?.forgotPasswordStep === forgotPasswordStep.ResetPassword">
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>
        Enter your new password
      </mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
          <div fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="New Password" formControlName="newPassword" type="password" required>
              <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
                New Password is required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password"
                required>
              <mat-error *ngIf="form.controls['confirmNewPassword'].hasError('required')">
                Confirm New Password is required
              </mat-error>
              <mat-error *ngIf="form.controls['confirmNewPassword'].hasError('matchPassword')">
                Confirm New Password must match New Password
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="column" *ngIf="errorMessages" class="error">
          <span *ngFor="let error of errorMessages">{{error.errorDescription}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutGap="10px">
          <span fxFlex></span>
          <button mat-raised-button color="primary" type="submit" (click)="changePassword()">
            Change Password
          </button>
          <button mat-raised-button color="accent" routerLink="/authentication/login">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
