.title,
.cart-products-head,
.cart-products,
.cart-products-subtotal,
.checkout {
	width: 75%;
	margin: 0px 20px;
	font-size: 21px;
	color: #736d6d;
}

.title,
.cart-products-subtotal {
	display: inline-block;
	margin: 20px 20px 50px 20px;
}

.cart-products-head,
.cart-products {
	width: 75%;
	margin: 0px 20px;
	display: inline-flex;
	border-bottom: 1px solid #736d6d;
	font-size: 21px;
	color: #736d6d;
}

.cartProduct-head {
	padding-bottom: 10px;
}

.cart-products div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	float: left;height: 143px;
}

.remove-cartProduct {
	padding-right: 17px;
}

.remove-cartProduct div {
	width: 20px;
	height: 20px;
	font-size: 14px;
	cursor: pointer;
}

.cartProduct-img img {
	max-height: 83px;
}

.cartProduct-name {
  flex-grow: 2;
  padding-left: 17px;
}

.cartProduct-quantity {
	text-align: center;
	width: 120px;
}

.cartProduct-price {
	text-align: right;
	width: 80px;
}

.cart-products-subtotal {
	text-align: right;
}

.checkout {
	margin-bottom: 25px;
}

.checkout div {
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #4caf50;
	color: #ffffff;
	cursor: pointer;
}
