<div fxLayout="row wrap">
  <mat-card *ngFor="let product of products" fxFlex="45" fxFlex.lt-md="100">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl" alt="{{product.description}}">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
</div>
