<div fxLayout="column" fxLayoutGap="20px">

  <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <img class="lighthouse-logo" src="/assets/images/voyage-logo-white.png" alt="lighthouse logo" />
    <h3>Lighthouse Software</h3>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" class="about-us-content">
    <h2>
      We do legacy (support and modernization).
    </h2>

    <div fxLayout="row" fxLayoutGap="10px">
      <div>18 Years of enterprise experience</div>
      <div>450+ Modernization projects</div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>
        Think asset. Not Liability.
      </h2>
      The greatest challenges in IT are operational, not technological.
      By its very definition legacy software serves a valuable purpose. It's an asset.
      An aging one, to be sure, but not one to treat with a cavalier “rip and replace” approach.
      That’s because, for most organizations, the greatest challenges are operational, not technological.
      Designing the right business processes and aligning resources, both human and technology,
      are critical for a successful modernization effort.
    </div>
  </div>
</div>
