.banner {
  background-color: #f4511e;
  color: #FFFFFF;
  height: 200px;
}

.lighthouse-logo {
  width: 100px;
  height: 100px;
}

.center-content {
  text-align: center;
}

.border-separator {
  border-left: 1px solid lightgray;
}
