<div class="fill-space;" class="header-accent-bar"></div>
<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <button class="menu-button" (click)="toggleSidebar()" *ngIf="isMobile && !isMenuShowing">
    <mat-icon class="clickable menu-icon">menu</mat-icon>
  </button>
  <button class="menu-button" (click)="toggleSidebar()" *ngIf="isMobile && isMenuShowing">
    <mat-icon class="clickable menu-icon">clear</mat-icon>
  </button>
  <span routerLink="/" class="clickable">
  </span>
  <span class="fill-space"></span>
  <span class="balance-display" *ngIf=(!isMenuShowing)>
    ${{ totalBalance }} <br/><span class="balance-label">BALANCE</span>
  </span>
  <app-cart-icon class="cart-icon" routerLink="/cart" *ngIf=(!isMenuShowing)></app-cart-icon>
</mat-toolbar>
