<mat-toolbar color="primary" *ngIf="isAuthenticated && !isVerificationRequired">
  <button mat-icon-button class="menu-button" (click)="toggleSidebar(true)" *ngIf="isMobile && !isMenuShowing">
    <mat-icon class="clickable menu-icon">menu</mat-icon>
  </button>
  <button mat-icon-button class="menu-button" (click)="toggleSidebar(false)" *ngIf="isMobile && isMenuShowing">
    <mat-icon class="clickable menu-icon">clear</mat-icon>
  </button>
  <span routerLink="/" class="clickable">
  </span>
  <span fxFlex></span>
  <span class="balance-display" *ngIf="!isMenuShowing">
    {{ totalBalance | currency }} <br/><span class="balance-label">BALANCE</span>
  </span>
  <app-cart-icon class="cart-icon" [hidden]="isMenuShowing"></app-cart-icon>
</mat-toolbar>
