<div class="page-padding" fxLayout="column" fxLayoutGap="20px">
  <div class="title">
    <h1>SHOPPING CART</h1>
  </div>

  <div fxLayout="row" *ngIf="cartProducts.length === 0">
    Your cart is empty.
  </div>

  <div fxLayout="column" fxLayoutGap="10px" *ngIf="cartProducts?.length">
    <div fxLayout="row" class="cart-header separator">
      <div fxFlex="10"></div>
      <div fxFlex="60">ITEM</div>
      <div fxFlex>QTY</div>
      <div fxFlexAlign="start end">PRICE</div>
    </div>
    <div fxLayout="row" *ngFor="let cartProduct of cartProducts; let i = index" class="cart-row separator" fxLayoutAlign="center center">
      <div fxFlex="10">
        <div>
          <span class="clickable" (click)="removeItem(i)" matTooltip="Remove" [matTooltipPosition]="'after'">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      </div>
      <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <img class="thumbnail" src="{{cartProduct.imageUrl}}" alt="product-image" />
        <div fxLayout="column">
          <span>{{ cartProduct.name }}</span>
          <span *ngIf="cartProduct.size">{{ cartProduct.size }}</span>
        </div>
      </div>
      <div fxFlex>{{ cartProduct.quantity }}</div>
      <div fxFlexAlign="start end">{{ (cartProduct.price * cartProduct.quantity) | currency }}</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" *ngIf="cartProducts?.length">
    <span>SUBTOTAL</span>
    <span>{{ subtotal | currency }}</span>
  </div>

  <div fxLayout="row" *ngIf="cartProducts?.length">
    <a class="action-button" fxFlex mat-raised-button (click)="goToCheckout()">CHECKOUT</a>
  </div>
</div>
