<div class="title">
	<h1>SHOPPING CART</h1>
</div>

<div fxLayout="row" *ngIf="cartProducts.length === 0">
  Your cart is empty.
</div>

<div *ngIf="cartProducts.length > 0">
  <div class="cart-products-head">
    <div class="cartProduct-head cartProduct-name">ITEM</div>
    <div class="cartProduct-head cartProduct-quantity-header">#</div>
    <div class="cartProduct-head cartProduct-price">PRICE</div>
  </div>

  <div class="cart-products" *ngFor="let cartProduct of cartProducts; let i = index">
    <div class="remove-cartProduct"><div (click)="removeItem(i)">X</div></div>
    <div class="cartProduct-img"><img [src]="cartProduct.imageUrl" alt="{{ cartProduct.name | uppercase }}"></div>
    <div class="cartProduct-name"> {{ cartProduct.name | uppercase }} </div>
    <div class="cartProduct-quantity"> {{ cartProduct.quantity }} </div>
    <div class="cartProduct-price"> {{ cartProduct.price | currency }} </div>
  </div>

  <div class="cart-products-subtotal">
    SUBTOTOTAL {{ subtotal | currency}}
  </div>

  <div fxLayout="row" style="margin-bottom: 20px;">
    <a color="primary" fxFlex mat-raised-button routerLink="/store/checkout">CHECKOUT</a>
  </div>
</div>
