<div class="masthead" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
    </div>
    <div *ngIf="!error" fxLayout="row" fxLayoutAlign="center">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div *ngIf="error === 'linkUsed'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span *ngIf="isMobile">Your link has already been used or is expired.</span>
      <span *ngIf="!isMobile">Your code has already been used or is expired.</span>
      <button mat-raised-button class="action-button" (click)="requestNewCode()">GET A NEW ONE</button>
    </div>
    <div *ngIf="error === 'linkInvalid'" fxLayout="column" fxLayoutAlign="center center">
      <span *ngIf="isMobile">Your link was invalid.</span>
      <span *ngIf="!isMobile">Your code was invalid.</span>
    </div>
  </div>
</div>
