<div class="masthead" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
    </div>
    <div *ngIf="isMobile" fxLayout="column" fxLayoutAlign="center center">
      <span>You will receive a magic link shortly.</span>
      <span>If you have any issues, contact</span>
      <span>hello@lighthousesoftware.com</span>
    </div>

    <div *ngIf="!isMobile" fxLayout="column" fxLayoutAlign="center center">
      <span>You will receive a code shortly.</span>
      <span>If you have any issues, contact</span>
      <span>hello@lighthousesoftware.com</span>
    </div>
  </div>
</div>
