<div class="masthead-mobile" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
    </div>
    <form [formGroup]="codeForm" (ngSubmit)="submitCode()" novalidate fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="light-input">
        <input matInput placeholder="Code" formControlName="code" required>
        <mat-error *ngIf="codeForm.controls['code'].hasError('required')">
          Code is required
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-spinner [diameter]="30" *ngIf="working"></mat-spinner>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button fxFlex="100" color="primary" mat-raised-button type="submit" [disabled]="working">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>
