<div class="masthead-mobile" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button (click)="syncWithLinkedIn()" mat-raised-button>Sync with LinkedIn</button>
      <a routerLink="/store" mat-button>DO THIS LATER</a>
    </div>
  </div>
</div>
