.form-container {
  width: 100%;
  padding: 20px;
}

.white {
  color: #FFF;
}

.app-title {
  font-size: 30px;
  color: white;
}

.lighthouse-logo {
  width: 150px;
  height: 150px;
}

.banner {
  color: #f4511e;
}

.linkedin-button {
  background-image: url('/assets/images/linked-in-button.png');
  background-repeat: no-repeat;
  width: 250px;
  height: 47px;
  cursor: pointer;
}
