<div fxLayout="row">
  <mat-card fxFlex.xl="60" fxFlex.lg="70" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <div fxFlex.gt-sm>
        <form *ngIf="checkoutForm" fxLayout="column" [formGroup]="checkoutForm" (ngSubmit)="checkout()" novalidate>
          <div class="checkout-title">CONTACT</div>
          <mat-form-field>
            <mat-label>First & Last Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="checkoutForm.controls['name'].hasError('required')">
              First & Last Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="checkoutForm.controls['email'].hasError('required')">
              Email Address is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" required>
            <mat-error *ngIf="checkoutForm.controls['company'].hasError('required')">
              Company is required
            </mat-error>
          </mat-form-field>

          <div class="checkout-title">SHIPPING</div>
          <mat-form-field>
            <mat-label>Street Address</mat-label>
            <input matInput formControlName="addressLine1" required>
            <mat-error *ngIf="checkoutForm.controls['addressLine1'].hasError('required')">
              Street Address is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Suite #</mat-label>
            <input matInput formControlName="addressLine2">
          </mat-form-field>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required>
            <mat-error *ngIf="checkoutForm.controls['city'].hasError('required')">
              City is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput formControlName="state" required>
            <mat-error *ngIf="checkoutForm.controls['city'].hasError('required')">
              State is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zip" required>
            <mat-error *ngIf="checkoutForm.controls['zip'].hasError('required')">
              Zip Code is required
            </mat-error>
          </mat-form-field>

          <div class="checkout-title">PAYMENT</div>
          <mat-form-field>
            <mat-label>Credit</mat-label>
            <input matInput readonly value="{{balance | currency}}">
          </mat-form-field>

          <div fxLayout="row" class="button-section">
            <button fxFlex type="submit" mat-raised-button class="action-button" [disabled]="loading">
              COMPLETE PURCHASE
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
