<mat-sidenav-container [ngClass]="{ 'sidenav-height': isAuthenticated && !isVerificationRequired, 'sidenav-height-full': !isAuthenticated || isVerificationRequired }">
  <mat-sidenav #sidenav mode="{{ mobile ? 'over' : 'side' }}" opened="{{ mobile ? 'false' : 'true' }}" *ngIf="isAuthenticated && !isVerificationRequired && mobile">
    <nav (click)="close()">
      <ul>
        <li>
          <a class="nav-item-container" routerLink="/store" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Shop
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLink="/examples/samplepage" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Orders
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLink="/profile" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Profile
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-item-container" routerLink="/admin/users" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Invite
          </a>
        </li>
        <div class="nav-section-divider"></div>
        <li>
          <a class="nav-item-container" routerLink="/profile" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Contact Us
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLink="/profile" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            About Lighthouse
          </a>
        </li>

        <!-- <li>
          <a class="nav-item-container" routerLinkActive="active" (click)="themeService.toggleDarkTheme(); $event.stopPropagation();" [ngClass]="{'dark': themeService.darkTheme}">
            <i class="material-icons mat-light">lightbulb_outline</i>
            {{themeService.darkTheme ? 'Go Light' : 'Go Dark'}}
          </a>
        </li> -->

      </ul>
    </nav>
    <div style="width: 100%;">
      <span style="color: white; margin-inline-start: 38.5%; margin-top: 15%; font-size: 10px;">Powered by Voyage</span>
    </div>
  </mat-sidenav>

  <mat-sidenav #sidenav class="desktop" mode="{{ 'side' }}" opened="{{ 'true' }}" *ngIf="isAuthenticated && !isVerificationRequired && !mobile">
      <nav (click)="close()">
        <ul class="desktop-nav">
          <li>
            <a class="nav-item-container-desktop" routerLink="/store" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              Shop
            </a>
          </li>
          <li>
            <a class="nav-item-container-desktop" routerLink="/examples/samplepage" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              Orders
            </a>
          </li>
          <li>
            <a class="nav-item-container-desktop" routerLink="/profile" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              Profile
            </a>
          </li>
          <li *ngIf="isAdmin">
            <a class="nav-item-container-desktop" routerLink="/admin/users" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              Invite
            </a>
          </li>
          <div class="nav-section-divider"></div>
          <li>
            <a class="nav-item-container-desktop" routerLink="/profile" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              Contact Us
            </a>
          </li>
          <li>
            <a class="nav-item-container-desktop" routerLink="/profile" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
              About Lighthouse
            </a>
          </li>

          <!-- <li>
            <a class="nav-item-container" routerLinkActive="active" (click)="themeService.toggleDarkTheme(); $event.stopPropagation();" [ngClass]="{'dark': themeService.darkTheme}">
              <i class="material-icons mat-light">lightbulb_outline</i>
              {{themeService.darkTheme ? 'Go Light' : 'Go Dark'}}
            </a>
          </li> -->

        </ul>
      </nav>
      <div style="width: 100%;">
        <span style="color: white; margin-inline-start: 38.5%; margin-top: 15%; font-size: 10px;">Powered by Voyage</span>
      </div>
    </mat-sidenav>


  <div class="main-content full-height">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
