<mat-sidenav-container [ngClass]="{ 'sidenav-height': isAuthenticated && !isVerificationRequired, 'sidenav-height-full': !isAuthenticated || isVerificationRequired }">
  <mat-sidenav #sidenav mode="{{'over'}}" opened="{{ mobile ? 'false' : 'true' }}" *ngIf="isAuthenticated && !isVerificationRequired && mobile">
    <div style="justify-content: center; align-content: center;">
        <img class="logo" src="../../../assets/images/ls-roundel-white.png" />
        <div class="logo-text-mobile">LIGHTHOUSE SOFTWARE</div>
    </div>
    <nav (click)="close()">
      <ul>
        <li>
          <a class="nav-item-container" (click)="toggleSidebar(false)"  routerLink="/store" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Shop
          </a>
        </li>
        <li>
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/orders" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Orders
          </a>
        </li>
        <li>
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/profile" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Profile
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/admin/users" routerLinkActive="active"
            [ngClass]="{'dark': themeService.darkTheme}">
            User Admin
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/admin/invite" routerLinkActive="active" [ngClass]="{'dark': themeService.darkTheme}">
            Invite
          </a>
        </li>
        <div class="nav-section-divider"></div>
        <li>
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/contact-us" routerLinkActive="active"
            [ngClass]="{'dark': themeService.darkTheme}">
            Contact Us
          </a>
        </li>
        <li>
          <a class="nav-item-container" (click)="toggleSidebar(false)" routerLink="/about-us" routerLinkActive="active"
            [ngClass]="{'dark': themeService.darkTheme}">
            About Lighthouse
          </a>
        </li>
      </ul>
    </nav>
    <div class="voyage-icon-container-mobile">
     Powered by <img src="../../../assets/images/voyage-logo-vert-white.png" class="voyage-icon-mobile"/>
    </div>
  </mat-sidenav>

  <mat-sidenav #sidenav class="desktop" mode="{{ 'side' }}" opened="{{ 'true' }}" *ngIf="isAuthenticated && !isVerificationRequired && !mobile">
      <div style="justify-content: center; align-content: center;">
          <img class="logo" src="../../../assets/images/ls-roundel-black.png"/>
          <div class="logo-text-desktop">LIGHTHOUSE SOFTWARE</div>
      </div>
      <nav (click)="close()">
        <ul class="desktop-nav">
            <li>
                <a class="nav-item-container-desktop" routerLink="/store" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
                  Shop
                </a>
              </li>
              <li>
                <a class="nav-item-container-desktop" routerLink="/orders" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
                  Orders
                </a>
              </li>
              <li>
                <a class="nav-item-container-desktop" routerLink="/profile" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
                  Profile
                </a>
              </li>
              <li *ngIf="isAdmin">
                <a class="nav-item-container-desktop" routerLink="/admin/users" routerLinkActive="active-desktop"
                  [ngClass]="{'dark': themeService.darkTheme}">
                  User Admin
                </a>
              </li>
              <li *ngIf="isAdmin">
                <a class="nav-item-container-desktop" routerLink="/admin/invite" routerLinkActive="active-desktop" [ngClass]="{'dark': themeService.darkTheme}">
                  Invite
                </a>
              </li>
              <div class="nav-section-divider"></div>
              <li>
                <a class="nav-item-container-desktop" routerLink="/contact-us" routerLinkActive="active-desktop"
                  [ngClass]="{'dark': themeService.darkTheme}">
                  Contact Us
                </a>
              </li>
              <li>
                <a class="nav-item-container-desktop" routerLink="/about-us" routerLinkActive="active-desktop"
                  [ngClass]="{'dark': themeService.darkTheme}">
                  About Lighthouse
                </a>
              </li>
        </ul>
      </nav>
      <div style="width: 100%;">
        <span class="voyage-icon-container-desktop">Powered by Voyage</span>
        <img src="./favicon.ico" class="voyage-icon-desktop" />
      </div>
    </mat-sidenav>


  <div class="main-content full-height">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
