.error {
  color: #f44336
}

.white {
  color: #FFF;
}

.cancel-button {
  background-color:#ffa500;
  color:white;
}

.form-container {
  width: 100%;
  padding: 20px;
}

.masthead-mobile {
  button:disabled {
    background-color: #eeeeee !important;
    &.mat-primary {
      background-color: #3f51b5 !important;
    }
  }
}
