<!-- Tablet / Desktop -->
<div class="masthead" *ngIf="!isMobile">
  <div fxLayout="row" fxLayoutAlign="center center" class="full-height">
    <mat-card fxFlex="50" fxFlex.gt-md="40" fxLayout="column" fxLayoutGap="30px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutGap="10px" novalidate>
        <mat-form-field>
          <span matPrefix>
            <mat-icon class="icon-prefix-large">phone</mat-icon>
          </span>
          <input matInput placeholder="Mobile Phone" formControlName="phone" required>
          <mat-error *ngIf="loginForm.controls['phone'].hasError('required')">
            Mobile Phone is required
          </mat-error>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-spinner [diameter]="30" *ngIf="working"></mat-spinner>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <button fxFlex="100" (click)="login()" color="primary" mat-raised-button type="submit" [disabled]="working">LOGIN</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<!-- Mobile -->
<div class="masthead" *ngIf="isMobile" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
      <div class="banner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img class="lighthouse-logo" src="/assets/images/voyage-logo-orange.png" alt="lighthouse logo" />
        <h3>LIGHTHOUSE SOFTWARE</h3>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="light-input">
        <input matInput placeholder="Mobile Number" formControlName="phone" required>
        <mat-error *ngIf="loginForm.controls['phone'].hasError('required')">
          Mobile Number is required
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-spinner [diameter]="30" *ngIf="working"></mat-spinner>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button fxFlex="100" color="primary" mat-raised-button type="submit" [disabled]="working">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>
