
.form-container {
  width: 100%;
  padding: 20px;
}

.app-title {
  width: 749px;
  height: 39px;
  font-family: Lato;
  font-size: 32px;
  color: black;
  letter-spacing: 4px;
  text-align: center;
}

.button-invite {
  font-family: Lato;
  font-size:24px;
  color: white;
  text-decoration: none;
  background-color: #4caf50;
  height: 60px;
  border-radius: 10px;
}

.error {
  height: 20px;
  font-family: Lato;
  font-size: 20px;
  color: #de1212;
  font-weight: 300;
}

