<!-- Tablet / Desktop -->
<div class="masthead" *ngIf="!isMobile">
  <div fxLayout="row" fxLayoutAlign="center center" class="full-height">
    <mat-card fxFlex="50" fxFlex.gt-md="40" fxLayout="column" fxLayoutGap="30px">
      <div fxLayout="row" fxFlexAlign="center">
        <div class="app-title">
          INVITE
        </div>
      </div>
      <form [formGroup]="inviteForm" (ngSubmit)="invite()" novalidate fxLayout="column" fxLayoutGap="10px">
        <mat-form-field class="light-input">
          <mat-label>Mobile Number</mat-label>
          <input type="tel" matInput formControlName="mobileNumber" required>
          <mat-error *ngIf="inviteForm.controls['mobileNumber'].hasError('required')">
            Mobile Number is required
          </mat-error>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="20px">
          <button class="button-invite action-button" mat-raised-button type="submit" [disabled]="loading">
            SEND INVITE</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<!-- Mobile -->
<div class="masthead" *ngIf="isMobile" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="30px" class="form-container">
    <div fxLayout="row" fxFlexAlign="center">
      <div class="app-title">
        INVITE
      </div>
    </div>
    <form [formGroup]="inviteForm" (ngSubmit)="invite()" novalidate fxLayout="column" fxLayoutGap="10px">
      <mat-form-field class="light-input">
        <mat-label>Mobile Number</mat-label>
        <input type="tel" matInput formControlName="mobileNumber" required>
        <mat-error *ngIf="inviteForm.controls['mobileNumber'].hasError('required')">
          Mobile Number is required
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="20px">
        <button class="button-invite action-button" mat-raised-button type="submit" [disabled]="loading">
          SEND INVITE</button>
      </div>
    </form>
  </div>
</div>
