
.form-container {
  width: 100%;
  padding: 20px;
}

.app-title {
  font-size: 32px;
  color: black;
  letter-spacing: 4px;
  text-align: center;
}

.button-invite {
  font-family: Lato;
  color: white;
  text-decoration: none;
}

.error {
  height: 20px;
  font-family: Lato;
  font-size: 20px;
  color: #de1212;
  font-weight: 300;
}
